.input {
    padding-left: 12px;
    background-color: #fff;
    border: 1px solid #fff;
    font-style: italic;
    width: 85%;
}

.textarea {
    padding-left: 12px;
    background-color: #fff;
    border: 1px solid #fff;
    font-style: italic;
    resize: none;
    width: 85%;
    min-height: 100px;
    line-height: 20px;
}

.textareaLabel {
    padding-left: 10px;
    vertical-align: top;
    min-width: 90px
}

.label {
    padding-left: 10px;
    min-width: 90px
}

.profileInfoEdit {
    position: absolute;
    right: 0;
    top: 0;

}

.profileInfoEditBtn {
    padding: 5px 19px;
    color: #fff;
}