.dashTable {
    border-radius: 0;
    color: #1e283c;
}

.dashTable:hover {
    background-color: #fff;
    color: #1e283c;
}

.blogThumbnail {
    width: auto;
    height: 40px;
    float: left;
}

.blogTitle {
    height: 55px;
    width: 300px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    cursor: pointer;
    color: #2c2c2c;
    text-decoration: none;
    transition: all linear .3s;
}

.blogTitle:hover {
    color: #ffb32f;
}

.longDescription {
    height: 16rem;
}

.checkBox {
    vertical-align: text-bottom;
}

.formLabel {
    vertical-align: text-top;
    padding: 2px 3px;
}